name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  docs:
    runs-on: ubuntu-24.04
    steps:
      - name: Project Checkout
        uses: actions/checkout@v5.0.1

      - name: Check MIT license on source files
        uses: korandoru/hawkeye@c57037afedf940370c41eb660837c8aa928d472a # v6.5.1

  build:
    runs-on: ubuntu-24.04
    needs: docs
    strategy:
      matrix:
        jdk: ["17", "21"]

    steps:
      - name: Project Checkout
        uses: actions/checkout@v5.0.1

      - name: Lint Bash files
        uses: dotanuki-labs/github-actions/quality/bash@main

      - name: Setup JDK
        uses: actions/setup-java@v5.2.0
        with:
          distribution: "zulu"
          java-version: ${{ matrix.jdk }}

      - name: Setup Gradle build
        uses: gradle/actions/setup-gradle@v5.0.1
        with:
          gradle-home-cache-strict-match: false
          gradle-home-cache-cleanup: true

      - name: Setup Dependency Submission
        uses: gradle/actions/dependency-submission@v5.0.1

      - name: Run Gradle build
        id: build
        run: ./gradlew build assembleExecutable

      - name: Run acceptance tests
        run: |
          sudo apt-get update >/dev/null
          sudo apt-get install -y bats >/dev/null
          bats src/test/bash/acceptance.bats

      - name: Archive executable
        uses: actions/upload-artifact@v5.0.0
        with:
          name: aaw-executable-jdk-${{ matrix.jdk }}
          path: build/bin

  e2e:
    runs-on: ubuntu-24.04
    needs: build
    steps:
      - name: Project Checkout
        uses: actions/checkout@v5.0.1

      - name: Setup JDK
        uses: actions/setup-java@v5.2.0
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Fetch executable from previous build
        uses: actions/download-artifact@v6.0.0

      - name: Add binary to the CLI path
        run: |
          chmod +x aaw-executable-jdk-17/aaw
          echo "$GITHUB_WORKSPACE/aaw-executable-jdk-17" >> "$GITHUB_PATH"

      - name: Run E2E tests
        run: |
          sudo apt-get update >/dev/null
          sudo apt-get install -y bats >/dev/null
          bats src/test/bash/e2e.bats

  secops:
    if: github.ref == 'refs/heads/main'
    permissions:
      security-events: read

    runs-on: ubuntu-24.04
    needs: build
    steps:
      - name: Project Checkout
        uses: actions/checkout@v5.0.1

      - name: Evaluate CVEs for the current Git sha
        run: ./scripts/secops.sh ${{ secrets.GITHUB_TOKEN }} ${{ github.sha }}

      - name: Archive SBOM
        uses: actions/upload-artifact@v5.0.0
        with:
          name: sbom
          path: aaw-sbom-${{ github.sha }}.json
